*{
    margin: 0;
    padding: 0;
}

header{
    margin: 0;
    padding: 0;
    background-color: azure;
    color: cadetblue;
}

nav{
    color: cadetblue;
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

nav a{
    text-decoration: none;
    color: cadetblue;
    font-weight: bold;
    padding: 0.5%;
}

nav a:hover{
    background-color: cadetblue;
    color: azure;
    border-radius: 5px 2px 5px 2px;
}

nav a:active{
    background-color: cadetblue;
    color: azure;
    border-radius: 5px 2px 5px 2px;
}

h1{
    display: flex;
    justify-content: center;
}

#form{
    display: flex;
    justify-content: center;
    border: 2px solid cadetblue;
    border-radius: 10px 10px 10px 10px;
    margin: 5% 20% 5% 20%;
    padding: 2.5%;
    color: cadetblue;
}

form input::placeholder{
    background-color: cadetblue;
    color: azure;
}

form input{
    border: 2px solid cadetblue;
    border-radius: 5px;
}